@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-LightItalic.woff2') format('woff2'),
		 url('../fonts/Gilroy-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		 url('../fonts/Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after{
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}
li{
list-style: none;

}
a,
a:visited{
text-decoration: none;

}
h1,
h2,
h3,
h4,
h5,
h6{
font-weight: inherit;
font-size: inherit;
}
img{
vertical-align: top;

}
body{
	font-family: 'Lato', sans-serif;
font-size: 25px;


}

/* обнуляющие стили */
   


	
/*  
.content{

background-color: indigo;
padding: 70px;
position: relative;
top: 0;
left: 0;
width: 100%;

}  
*/
/* задаем главному блоку класса.content{ свойство( position: relative;)  и что бы блок с position: absolute;был 
относительно в нутри блока с классом.content{  */
/*  
.blokc__1 {
border-radius:20px ;
border: 3px solid black;	
margin: 0 0 10px 0;
min-height:  300px;
background-color: green;

	
}
*/
/*  
.blokc__2{
	border-radius:30px ;
	border: 3px solid black;
	font-size: 25px;
	margin: 0 0 10px 0;
	min-height:  300px;
background-color: darkgoldenrod;
position: absolute;
top: 0;
 left: 40px;
}
 /*position: absolute;( блок 2 )занимает первый блок перестает быть блочным переходит в строчныйный
 но свойства блочные применяются  */

/* position: relative; сдигает 2 й блок на блок смещается
по разным сторонам */
body{
	background: #111428;
	

 }
header{
width: 1900px;
height: 100px;
border: 2px solid gray;
border-radius: 0px;
background: #111428;
 margin: 0 0 50px 0;
}
header:hover{
	background-color: darkblue;
}
.list{
font-weight: 700;
font-style: normal;
font-size: 16px;

}
.list,li{
line-height: 5px;
display: inline-block;
color: white;
margin-left: 65px;
margin-top: 17px;

}
li:hover{
background: #337AB7;
text-decoration: underline black;
}

.search{
position: absolute;
width: 574px;
height: 41px;
left: 783px;
top: 29px;
background: #111428;	border: 1px solid #A3A3A3;
box-sizing: border-box;
border-radius: 5px;
color: blanchedalmond;
}
.search:hover{
text-decoration: underline;
color: darkblue;

}
h1{
text-align: center;
font-weight: 700px;
font-style: normal;
font-size: 38px;
color: white;
margin: 0 0 30px 0;

}
h1:hover{
text-decoration: underline;
color: blue;

}

.input_1{
margin-left: 550px;
height: 40px;
width: 400px;
margin-bottom: 20px;

}
.input_2{
margin-left: 550px;
height: 40px;
width: 400px;
margin-bottom: 20px;


}

.input_3{
margin-left: 550px;
height: 40px;
width: 400px;
margin-bottom: 20px;
	
}	

.input_4{
margin-left: 550px;
height: 40px;
width: 400px;
margin-bottom: 20px;
		
}

.input_5{
margin-left: 550px;
height: 40px;
width: 400px;
margin-bottom: 20px;
			
}

.input_6{
margin-left: 550px;
height: 40px;
width: 400px;
margin-bottom: 20px;
				
}
.block_1{
position: absolute;
left: 550px;
font-size: 20px;
color: white;
}

.block_2{
position: absolute;
left: 750px;
font-size: 20px;
color: white;

}


.block_3{
position: absolute;
left: 550px;
font-size: 20px;
color: white;
top: 640px;
}

.block_4{

position: absolute;
left: 720px;
font-size: 20px;
top: 640px;


}
a{
	color: green;
}

.button{
position: absolute;
left: 550px;
font-size: 20px;
top: 690px;
height: 40px;
width: 400px;
background: #337AB7;

}

.span{
display: inline-block;
color: honeydew;
font-size: 15px;
position: absolute;
top: 790px;
left: 670px;

}


.foot{     
background: #FFFFFF;
transform: matrix(1, 0, 0, -1, 0, 0);
position: absolute;
width: 1216px;
height: 4px;
left: 200px;
top: 883px;
	margin:  0	0	30px 0;
background: #FFFFFF;
}

.foot:hover{
background-color: blue;


}

